#s5_navv a span:hover, #s5_navv li:hover a span, #s5_navv li.active span, #s5_navv li.over a span {
	color:#efefef;}


#s5_nadvv ul li.active a {
	background:transparent url(../images/red/Shape5_fusion_mmiddle.png) repeat-x scroll left 1pt;
	margin-top:-3px;	
	}


#s5_navv ul li li.lastitem a:hover {
	background:transparent url(../images/red/Shape5_fusion_ddmenumidh.png) repeat-x scroll 1px 0;} 

#s5_navv ul li ul li {
    background:transparent url(../images/red/Shape5_fusion_ddmenumidh.png) repeat-x scroll 0 -33px; }
	
#s5_navv ul li ul li:hover, #s5_navv ul li ul li.over {
    background:transparent url(../images/red/Shape5_fusion_ddmenumidh.png) repeat-y 0px 0px; }   
	
#s5_navdv ul li.active a {
	background:transparent url(../images/red/Shape5_fusion_mmiddle.png) repeat-x scroll left 1pt;
	margin-top:-3px;	
}

#s5_navav ul li:hover a, #s5_navv ul li.over a{
	background:transparent url(../images/red/Shape5_fusion_mmiddle.png) repeat-x scroll left 1pt;
	margin-top:-3px;	
	}


#s5_navv span.span_active, #s5_navv span.span_active:hover {
	background:transparent url(../images/red/Shape5_fusion_mright.png) no-repeat scroll 0 1pt;}
	
#s5_navv ul li.s5_menutop, #s5_navv ul li.s5_menutop:hover {
	background:transparent url(../images/red/Shape5_fusion_ddmenutop.png) no-repeat scroll 0 0;}
	
#s5_navv ul li.s5_toparrow, #s5_navv ul li.s5_toparrow:hover {
	background:transparent url(../images/red/Shape5_fusion_ddmenutop.png) no-repeat scroll 0 0;}
		
#s5_navv ul li.s5_menubottom, #s5_fm_ul0 ul li.s5_menubottom, #s5_navv ul li.s5_menubottom:hover, #s5_fm_ul0 ul li.s5_menubottom:hover {
	background:transparent url(../images/red/Shape5_fusion_ddmenubot.png) no-repeat scroll 0 0;}	
	
	
	
	
	
	
.s5_nicewrap_stm {
	background: url(../images/red/Shape5_fusion_bmmshadow.png) repeat-x;}

.s5_nicewrap {
	background: url(../images/red/Shape5_fusion_nicewrap_bck.png) repeat;}
	
.s5_nicewrap_inner_mtl {
	background: url(../images/red/Shape5_fusion_bmodstl.png) no-repeat left;} 		

.s5_nicewrap_inner_mtr{
	background: url(../images/red/Shape5_fusion_bmodstr.png) no-repeat right;} 		

.s5_nicewrap_inner_mtm {
	background: url(../images/red/Shape5_fusion_bmodsml.png) repeat-y left;} 		

.s5_nicewrap_inner_mbm{
	background: url(../images/red/Shape5_fusion_bmodsmr.png) repeat-y right;}

.s5_nicewrap_inner_mbl {
	background: url(../images/red/Shape5_fusion_bmodsbl.png) no-repeat left;} 		

.s5_nicewrap_inner_mbr{
	background: url(../images/red/Shape5_fusion_bmodsbr.png) no-repeat right;} 		
	
	